{% extends 'layouts/base.html' %}
{%block content %}
<h1>book update</h1>
<form action="{% url 'books:show' book.id %}" method="post">
  {% csrf_token %}
  <div class="item">
    <label for="name">書名</label>
    <input type="text" id="" name="name" value="{{ book.name }}">
  </div>
  <div class="item">
    <label for="kind">分類</label>
    <input type="text" id="" name="kind" value="{{ book.kind }}">
  </div>
  <div class="item">
    <label for="note">說明</label>
    <input type="text" id="" name="note" value="{{ book.note }}">
  </div>
  <input type="submit" value="更新">
</form>
{%endblock %}