{% extends 'layouts/base.html' %}
{%block content %}
<h1>book new</h1>
<form action="{% url 'books:add' %}" method="post">
  {% csrf_token %}
  <div class="item">
    <label for="name">書名</label>
    <input type="text" id="" name="name">
  </div>
  <div class="item">
    <label for="kind">分類</label>
    <input type="text" id="" name="kind">
  </div>
  <div class="item">
    <label for="note">說明</label>
    <input type="text" id="" name="note">
  </div>
  <input type="submit" value="新增">
</form>
{%endblock %}